:root {
  --radius: 8px;
  --back: #fafafa;
  --line: #bdbdbd;
  --black: #323232;
  --gray: #f2f2f2;
}

@font-face {
  font-family: Praise;
  src: url("./fonts/Praise-Regular.ttf");
}

@font-face {
  font-family: Afacad;
  src: url("./fonts/Afacad-Regular.ttf");
}

::-webkit-scrollbar-track
{
	display: none;
}

::-webkit-scrollbar
{
	width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--line);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black);
}

body,
main,
header,
section,
div,
span,
h1,
h2,
h3,
h4,
a,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  line-height: inherit;
  text-decoration: none;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  margin: 4rem;
  font-family: Afacad;
  background: var(--back);
}

main {
  width: 100%;
  height: 86vh;
  margin: 0 auto;
  max-width: 1800px;
  position: relative;
  max-height: 1000px;
  border-radius: var(--radius);
  border: solid 1px var(--line);
}

header {
  padding: 1rem;
  font-size: 1rem;
  border-bottom: solid 1px var(--line);
}

.overview {
  margin-top: 5rem;
  text-align: center;
}

.overview h1,
.overview h2 {
  font-size: 4rem;
  font-family: Afacad;
}

.overview h1 {
  font-family: Praise;
  line-height: 1rem;
  font-weight: 400;
  color: var(--line);
}

.text {
  font-family: Afacad;
  line-height: 1rem;
}

.chat-button-container {
  gap: 1rem;
  right: 1rem;
  bottom: 1rem;
  width: 100%;
  z-index: 111;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: flex-end;
}

button {
  width: 3rem;
  height: 3rem;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--gray);
}

button:hover {
  border: solid 1px var(--line);
}

button svg path {
  fill: var(--black);
}

.chat-thread {
  height: 2.5rem;
  border-radius: 4px;
  color: var(--black);
  padding: 0.5rem 1rem;
  background: var(--gray);
  position: relative;
}

.chat-thread::after {
  top: 0;
  content: "";
  width: 2rem;
  height: 2.5rem;
  position: absolute;
  background: url("./images/arrow.svg") no-repeat;
  background-size: 1.5rem;
  background-position: center;
}

.slider-container {
  width: 100%;
  margin: 3rem 0;
  overflow: hidden;
}

.slider-container a {
  width: calc(290px - 0.2rem);
  padding: 0;
}

.slider-container .slider {
  width: 290px;
  padding: 0.2rem;
  min-height: 300px;
  border-radius: 24px;
  border: solid 1px var(--line);
}


.slider .cover {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 24px;
}

.slider .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.slider .card-data {
  width: 94%;
  margin-top: 1rem;
  margin-left: 3%;
}

.slider .card-data h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
}

.slider .card-data span {
  color: var(--black);
  display: inline-block;
  margin: 0.5rem 0;
}

.slider-container a {
  user-select: none;
  -webkit-user-drag: none;
}


.embla {
  /* mobile-first */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}

/* Tablets */
@media (min-width: 640px) {
  .embla { --slide-size: 60%; }
}

/* Desktop */
@media (min-width: 1024px) {
  .embla { --slide-size: 33.333%; } /* ~3 cards per view */
}


.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

/* Ensure your card fills the slide nicely */
.embla__slide > a { display: block; height: 100%; }
.embla__slide .slider { height: var(--slide-height); }

@media screen and (max-width: 700px) {
	body {
		margin: 0;
	}
	main {
		margin: 0;
		border: none;
		border-radius: 0;
		min-height: 90vh;
	}
	button, a, div, section {
		cursor: auto;
	}
	.embla__container {
		gap: .5rem;
	}
	.overview h1, .overview h2 {
		font-size: 3.4rem;
	}
	.overview h2 {
		line-height: 2.5rem;
		margin-bottom: .4rem;
	}
	header {
		display: none;
	}

  .chat-body {
    top: 0;
    bottom: 0 !important;
    height: 100% !important;
    position: fixed !important;
  }

  .chat-activity {
    display: flex;
    width: 100% !important;
    padding: 1rem !important;
    pointer-events: none;
  }

  .chat-activity .input {
    width: 100%;
    margin: 0 !important;
  }

  .send  {
    aspect-ratio: 1/1;
    margin-left: .5rem !important;
  }
	
  .chat-button-container {
    display: none;
  }

  .chat-activity:has(input:focus) {
    bottom: 0;
    z-index: 1000;
    background: white;
    padding: 0 !important;
    position: fixed !important;
  }

  .chat-activity:has(input:focus) .send,
  .chat-activity:has(input:focus) .input {
    margin: 0 !important;
    border-radius: 0;
  }

  .chat-activity:has(input:focus) .input {
    width: 100%;
    max-width: 100%;
    border-right: none;
  }

}

/* Chat body style */
.chat-body {
  bottom: 0;
  width: 100%;
  height: 92%;
  display: flex;
  position: absolute;
  flex-direction: column;
  background: var(--back);
  border-radius: var(--radius);
  justify-content: space-between;
}

/* .chat-body {
    border-radius: 30%;
    overflow: hidden;
    transform: scale(.3);
    transform-origin: bottom right;
    transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.chat-body .message-body,
.chat-body .chat-activity {
  opacity: 0;
   transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
   transition-delay: .2s;
}

.chat-body:hover {
  border-radius: 0%;
  transform: scale(1);
}

.chat-body:hover .message-body,
.chat-body:hover .chat-activity {
  opacity: 1;
} */
.message-body {
  overflow-y: auto;
  padding-left: 1.2rem;
}

.chat-activity {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.chat-activity .input {
  width: 100%;
  display: flex;
  max-width: 400px;
  height: 3rem;
  align-items: center;
  margin-left: 1.2rem;
  border-radius: 4px;
  border: solid 1px var(--line);
}

.chat-activity input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: .9rem;
  background: none;
  padding-left: 1rem;
}

.chat-activity .icon {
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px var(--line);
}


.chat-activity .send {
  margin-left: 1rem;
  border-radius: 0;
  border-radius: 4px;
  background: var(--back);
  border: solid 1px var(--line);
}

.send.active {
  border-color: var(--line);
}